* {
    margin: 0;
    padding: 0;
}

.inicio h1 {
    font-size: 40pt;
    line-height: 60pt;
    margin-bottom: 30px;
    font-weight: bold;
}

.texto-descriptivo {
    font-size: 14px; /* Reduce el tamaño del texto descriptivo */
    line-height: 1.8;
    margin-bottom: 20px;
}


.contactar-btn {
    background-color: #c5a60b;
    color: #d4d4d4;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    display: inline-block; /* Asegura que el botón se ajuste al texto */
}


.contactar-btn:hover {
    background-color: #c99915;
} 

body {
    font-family: helvetica;
    line-height: 3;
}

header {
    background: #2f3a38;
    color: #d4d4d4;
    padding: 10px;
}

header nav ul {
    display: flex;
    justify-content: right;
    list-style: none;
}

header nav ul li {
    margin: 20px;
}

header nav ul li a {
    color: #d4d4d4;
    text-decoration: none;
    font-size: 16px;
}

.logo img {
    width: 50px; 
    height: 50px; 
    position: absolute;
    margin-top: -70px;
    left: 110px;
    
} 

.inicio {
      
        background-attachment: fixed;
        min-height: 100vh;
        display: flex;
        align-items: center;
        color: #2f3a38;
        padding: 20px;
        text-align: left;
    background: url(imagen\ home@3x.png) no-repeat;
    background-size: cover;
    padding: 60px 0;
}
@media (max-width: 768px) {
    .inicio {
        background: #f9f9f9; /* Fondo de color claro */
        background-attachment: initial; /* No fijar la imagen de fondo */
        padding: 60px 20px; /* Ajustar el padding para pantallas más pequeñas */
    }
}



.inicio2 h2 {
    font-size: 0,5rem;
    line-height: 1rem;
}

#nombre {
    color: #c5a60b;
    font-weight: bold; 
}

.cuadros-container {
    
    display: flex;
    gap: 50px;
    position: absolute;
    left: 110px; 
    top: 1000px;
}

.cuadro {
    background: rgba(255, 255, 255, 0.7);
    padding: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.cuadro h3 {
    margin: 20px;
    font-size: 18px; 
    color: #2f3a38; 
}

.cuadro p {
    margin: 20px;
    font-size: 14px; 
    line-height: 1.5;
}

.contacto-container {
    margin-top: 570px; 
    position: absolute;
    left: 110px;
    text-align: center; 
}


.contactar-btn:hover {
    background-color: #c99915;
}

.footer {
    background: #2f3a38;
    color: #d4d4d4;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    
}

#telefono {
    font-size: 16px; 
    color: #c5a60b; 
}
header {
    background: #2f3a38;
    color: #d4d4d4;
}


.card {
    background-color: #f9f9f9; /* Fondo claro */
    border-radius: 8px; /* Esquinas redondeadas */
}
.card-title {
    font-family: 'Arial', sans-serif; /* Estilo de fuente */
    color: #334957; /* Color de texto */
}


.spacer {
    height: 100px; /* Ajusta el espacio según sea necesario */
}



